.row a {
    text-decoration: none !important;
    color:grey;
    transition: color 0.3s, text-decoration 0.3s; 
    }
    .row a:hover{
        text-decoration: underline!important;
        color:#A034B4;
        font-weight: bold; /* Make the font bold on hover */
        
        }
        .button-footer{
            background-image: url('../../assets/pngegg\ \(25\)\ 6.png');
            background-size: cover;
            background-repeat: no-repeat;
            width: 128px;
            height: 45px;
            background-color: transparent;
            border-style: none;



        }
        .button-footer2{
            background-image: url('../../assets/Apple.png');
            background-size: cover;
            background-repeat: no-repeat;
            width: 128px;
            height: 45px;
            background-color: transparent;
            border-style: none;


        }